<section>
  <div class="jumbotron text-center">
    <div class="row">
      <p class="lead">
        Project To-Do List
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2><strong>T</strong>opic 1</h2>
      <p>Insert Topic 1 text here.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>opic 2</h2>
      <p>Insert Topic 2 text here.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>opic 3</h2>
      <p>Insert Topic 3 text here.</p>
    </div>
    <div class="col-md-3">
      <h2><strong>T</strong>opic 4</h2>
      <p>Insert Topic 4 text here.</p>
    </div>
  </div>
  <div class="well">
    <h4>TODO Documentation</h4> - TBD
    <br>Devon Kelly
  </div>
</section>
